# Issue #37: Target last 2 versions of each browser in the acceptance criteria.
# Chrome, Firefox, Safari, Edge (desktop) + iOS Safari + Chrome Android.
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions
last 2 iOS versions
last 2 ChromeAndroid versions
not dead
not IE 11


